@charset "UTF8";

* {
    color: #1B5E20;
    text-decoration: none;
    list-style: circle;
}

html, body {
    width: 100%;
    max-height: 100%;
    margin: 1% 0% 1% 0%;
}

body {
    background-color: #E8F5E9;
    font-size: 16px;
    display: flex;
    align-items: center;
    align-content: center;
}

#documento {
    margin: 0 auto;
    padding: 0% 1% 1% 1%;
    border: 2px solid #66BB6A;
    border-radius: 10px;
    background-color: #A5D6A7;
    box-shadow: 0px 0px 10px #A5D6A7;
    width: 700px;
}

#cabecera {
    background-color: #A5D6A7;
    padding: 5px;
}

#cabecera #logo {
    width: 75px;
    height: 50px;
}

#cabecera #titulo {
    font-size: 1.3em;
    font-style: italic;
}

.boton {
    background-color: blue;
    color: white;
    border: thin black solid;
}

.boton a {
    text-decoration: none;
    color: white;
}

.boton a:visited {
    text-decoration: none;
    color: white;
}

.boton a:hover {
    background-color: cyan;
    color: black;
}

.boton:hover {
    background-color: cyan;
    color: black;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    border: none;
    background-color: white;
}

.tabla th {
    background-color: teal;
    color: blue;
}

.tabla tr.par {
    background-color: black;
    color: white;
}

.tabla tr.impar {}

#pie {
    background-color: #81e714;
    color: blue;
    font-size: 1.5 em;
    padding: 5px;
}

.for_texto {
    border: blue thin solid;
    background-color: white;
    padding: 2px;
    margin: 2px;
    border-radius: 4px;
}

.error {
    background-color: white;
    color: red;
    border: thin solid red;
    padding: 5px;
}

footer {
    text-align: center;
}

.barraUbicacion li {
    display: inline;
    font-style: italic;
    text-shadow: 0px 0px 10px #66BB6A;
}

.barraUbicacion li+li:before {
    content: "> ";
}

#barraUbicacion {
    font-style: italic;
    text-shadow: 0px 0px 10px #66BB6A;
}

.menuOpciones li{
    display: inline;
    background-color: #9edca0;
    border: 2px dotted #66BB6A;
    border-radius: 5px;
    padding: 1px;
    margin-right: 3px;
}

.contenidoPrincipal {
    background-color: #E8F5E9;
    padding: 1%;
    font-size: large;
    border: 2px solid #66BB6A;
    border-radius: 10px;
}